@import 'antd/dist/reset.css';
@import "vditor/dist/index.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card-bg-color-light: #f3f4f6;
    --card-bg-color-dark: #1f2937;
    --card-bg-color: var(--card-bg-color-light);
  }

  .dark {
    --card-bg-color: var(--card-bg-color-dark);
  }
}